In [1]:
import pandas as pd

# App data
app_data = {
    'app_name': [
        'YouTube', 'TikTok', 'Instagram', 'Spotify', 'Duolingo',
        'Twitter', 'Headspace', 'Discord', 'Depop'
    ],
    'category': [
        'Video', 'Social Media', 'Social Media', 'Music', 'Education',
        'Social Media', 'Health', 'Communication', 'Shopping'
    ],
    'rating': [
        4.7, 4.6, 4.5, 4.6, 4.7,
        4.3, None, 4.7, 4.4
    ],
    'downloads_millions': [
        5000, 3000, 3500, 2000, None,
        1500, 500, 600, 200
    ]
}

# Create the DataFrame
apps = pd.DataFrame(app_data)
print("Data Apps siap dimodifikasi!")

Data Apps siap dimodifikasi!

In [3]:
downloaded = [True, True, True, False, True, True, False, True, False]
apps['downloaded'] = downloaded
apps

    app_name       category  rating  downloads_millions  downloaded
0    YouTube          Video     4.7              5000.0        True
1     TikTok   Social Media     4.6              3000.0        True
2  Instagram   Social Media     4.5              3500.0        True
3    Spotify          Music     4.6              2000.0       False
4   Duolingo      Education     4.7                 NaN        True
5    Twitter   Social Media     4.3              1500.0        True
6  Headspace         Health     NaN               500.0       False
7    Discord  Communication     4.7               600.0        True
8      Depop       Shopping     4.4               200.0       False

In [4]:
# Sorting apps by rating in descending order
sorted_apps = apps.sort_values(by='rating', ascending=False)
sorted_apps

    app_name       category  rating  downloads_millions  downloaded
0    YouTube          Video     4.7              5000.0        True
4   Duolingo      Education     4.7                 NaN        True
7    Discord  Communication     4.7               600.0        True
1     TikTok   Social Media     4.6              3000.0        True
3    Spotify          Music     4.6              2000.0       False
2  Instagram   Social Media     4.5              3500.0        True
8      Depop       Shopping     4.4               200.0       False
5    Twitter   Social Media     4.3              1500.0        True
6  Headspace         Health     NaN               500.0       False

In [5]:
# Rename apps_name to name
apps = apps.rename(columns={'app_name': 'name'})
apps

        name       category  rating  downloads_millions  downloaded
0    YouTube          Video     4.7              5000.0        True
1     TikTok   Social Media     4.6              3000.0        True
2  Instagram   Social Media     4.5              3500.0        True
3    Spotify          Music     4.6              2000.0       False
4   Duolingo      Education     4.7                 NaN        True
5    Twitter   Social Media     4.3              1500.0        True
6  Headspace         Health     NaN               500.0       False
7    Discord  Communication     4.7               600.0        True
8      Depop       Shopping     4.4               200.0       False