In [4]:
import pandas as pd
version = pd.__version__
print(f"Pandas version: {version}")

Pandas version: 3.0.0

In [ ]:
# Data frame contact
contacts = pd.DataFrame({
    'name': ['nafila'],
    'umur': [20],
    'no_telp': ['08123456789'],
    'kota': ['banjarnegara'],
    'zodiac': ['taurus']
})

contacts

In [ ]:
contacs = {
    'name': ['Bart', 'Lisa', 'Homer', 'Marge'],
    'age': [10, 8, 39, 36],
    'phone_number': ['939-555-0113', '939-555-0114', '939-555-0115', '939-555-0116'],
    'astrological_sign': ['Taurus', 'Virgo', 'Taurus', 'Pisces']
}
df = pd.DataFrame(contacs)
df

In [ ]:
# Dataframe dengan struktur list of dictionary
data = pd.DataFrame({
    'city': ['Brooklyn', 'Seoul', 'Barcelona', 'Mexico City'],
    'country': ['US', 'South Korea', 'Spain', 'Mexico'],
    'population': [2646000, 9411000, 1636000, 9209944]
})

data

In [ ]:
# Dataframe dengan struktur data list of lists
data = [
    ['Brooklyn', 'US', 2646000],
    ['Seoul', 'South Korea', 9411000],
    ['Barcelona', 'Spain', 1636000],
    ['Mexico City', 'Mexico', 9209944]
]

df = pd.DataFrame(data, columns=['city', 'country', 'population'])
df

In [ ]:
data_pokemon = {
    'Name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Pikachu', 'Jigglypuff'],
    'Type': ['Grass', 'Fire', 'Water', 'Electric', 'Normal'],
    'HP': [45, 39, 44, 35, 115],
    'Attack': [49, 52, 48, 55, 45],
    'Defense': [49, 43, 65, 40, 20]
}

# Simpan jadi file CSV
df_dummy = pd.DataFrame(data_pokemon)
df_dummy.to_csv('pokedex.csv', index=False)

print("File pokedex.csv berhasil dibuat! Siap dipakai.")

In [25]:
pokemon = pd.read_csv('pokedex.csv')
# Tampilkan 5 baris pertama data
# pokemon.head()
# pokemon.tail()  # Tampilkan 5 baris terakhir data
# Mengambil kolom 'Name' dan 'Attack'
pokemon[['Name', 'Attack']]
# Urutkan pokemon berdasarkan serangan dari yang tertinggi ke terendah
pokemon.sort_values(by='Attack', ascending=False)
# Filter pokemon dengan elemen 'Fire'

# Buat kolom baru 'Total' yang merupakan jumlah dari HP, Attack, dan Defense
pokemon['Total'] = pokemon['HP'] + pokemon['Attack'] + pokemon['Defense']
pokemon

# Urutkan pokemon berdasarkan stat 'Total' dari yang tertinggi ke terendah
pokemon.sort_values(by='Total', ascending=False)

# Simpan DataFrame yang telah dimodifikasi ke file CSV baru
pokemon.to_csv('pokedex_modified.csv', index=False)

Pada latihan kali ini saya mempelajari cara membuat dataframe berdasarkan data yang tersedia, dan menyimpannya ke dalam format csv. Lalu saya juga belajar filtering data, dan mengambil data yang saya mau.