In [1]:
import numpy as np
import pandas as pd

In [2]:
# Membuat data dummy untuk aplikasi
data_apps = {
    'App': ['TikTok', 'Instagram', 'WhatsApp', 'Duolingo', 'Spotify', 'Candy Crush Saga', 'Zoom'],
    'Category': ['Social', 'Social', 'Communication', 'Education', 'Music', 'Game', 'Business'],
    'Rating': [4.5, 4.4, 4.3, 4.7, 4.6, 4.6, np.nan],
    'Reviews': [1000000, 1200000, np.nan, 500000, 800000, 1500000, 200000],
    'Size_MB': [85, 90, 50, 30, np.nan, 150, 45],
    'Downloads': [1000.0, 2500.0, 5000.0, np.nan, 1000.0, 1000.0, 500.0] # dalam jutaan
}

apps = pd.DataFrame(data_apps)

print("Data 'apps' berhasil dibuat! Siap dijalankan.")

Data 'apps' berhasil dibuat! Siap dijalankan.

In [3]:
apps

                App       Category  Rating    Reviews  Size_MB  Downloads
0            TikTok         Social     4.5  1000000.0     85.0     1000.0
1         Instagram         Social     4.4  1200000.0     90.0     2500.0
2          WhatsApp  Communication     4.3        NaN     50.0     5000.0
3          Duolingo      Education     4.7   500000.0     30.0        NaN
4           Spotify          Music     4.6   800000.0      NaN     1000.0
5  Candy Crush Saga           Game     4.6  1500000.0    150.0     1000.0
6              Zoom       Business     NaN   200000.0     45.0      500.0

In [8]:
# Aplikasi yang muncul paling atas
apps.head(1)

      App Category  Rating    Reviews  Size_MB  Downloads
0  TikTok   Social     4.5  1000000.0     85.0     1000.0

In [7]:
# Aplikasi yang muncul paling bawah
apps.tail(1)

    App  Category  Rating   Reviews  Size_MB  Downloads
6  Zoom  Business     NaN  200000.0     45.0      500.0

In [9]:
# Cek informasi dasar DataFrame
apps.info()

<class 'pandas.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   App        7 non-null      str
 1   Category   7 non-null      str
 2   Rating     6 non-null      float64
 3   Reviews    6 non-null      float64
 4   Size_MB    6 non-null      float64
 5   Downloads  6 non-null      float64
dtypes: float64(4), str(2)
memory usage: 468.0 bytes

In [10]:
# Dapatkan statistik dasar DataFrame
apps.describe(include='all')

           App Category    Rating       Reviews     Size_MB    Downloads
count        7        7  6.000000  6.000000e+00    6.000000     6.000000
unique       7        6       NaN           NaN         NaN          NaN
top     TikTok   Social       NaN           NaN         NaN          NaN
freq         1        2       NaN           NaN         NaN          NaN
mean       NaN      NaN  4.516667  8.666667e+05   75.000000  1833.333333
std        NaN      NaN  0.147196  4.718757e+05   43.588989  1693.123347
min        NaN      NaN  4.300000  2.000000e+05   30.000000   500.000000
25%        NaN      NaN  4.425000  5.750000e+05   46.250000  1000.000000
50%        NaN      NaN  4.550000  9.000000e+05   67.500000  1000.000000
75%        NaN      NaN  4.600000  1.150000e+06   88.750000  2125.000000
max        NaN      NaN  4.700000  1.500000e+06  150.000000  5000.000000