In [2]:
import pandas as pd
import numpy as np

In [7]:


# Membuat data dummy movies
data_movies = {
    'title': ['The Matrix', 'Inception', 'Parasite', 'The Lion King', 'Everything Everywhere All at Once'],
    'release_date': ['1999-03-31', '2010-07-16', '2019-05-30', '1994-06-15', '2022-03-11'],
    'genre': ['Sci-Fi', 'Sci-Fi', 'Thriller', 'Animation', 'Action'],
    'studio': ['Warner Bros.', 'Warner Bros.', 'CJ Entertainment', 'Disney', 'A24'],
    'budget': [63000000.0, 160000000.0, np.nan, 45000000.0, 25000000.0],
    'box_office': [466000000.0, 836800000.0, 263000000.0, 968500000.0, np.nan],
    'runtime_minutes': [136, 148, 132, 88, 139],
    'rating': [8.7, 8.8, 8.5, 8.5, 8.0]
}

movies = pd.DataFrame(data_movies)
movies

,title,release_date,genre,studio,budget,box_office,runtime_minutes,rating
0,The Matrix,1999-03-31,Sci-Fi,Warner Bros.,63000000.0,466000000.0,136,8.7
1,Inception,2010-07-16,Sci-Fi,Warner Bros.,160000000.0,836800000.0,148,8.8
2,Parasite,2019-05-30,Thriller,CJ Entertainment,NaN,263000000.0,132,8.5
3,The Lion King,1994-06-15,Animation,Disney,45000000.0,968500000.0,88,8.5
4,Everything Everywhere All at Once,2022-03-11,Action,A24,25000000.0,NaN,139,8.0

In [4]:
# Cek informasi dasar DataFrame
movies.info()

<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            5 non-null      str
 1   release_date     5 non-null      str
 2   genre            5 non-null      str
 3   studio           5 non-null      str
 4   budget           4 non-null      float64
 5   box_office       4 non-null      float64
 6   runtime_minutes  5 non-null      int64
 7   rating           5 non-null      float64
dtypes: float64(3), int64(1), str(4)
memory usage: 452.0 bytes

In [9]:
# Cek Statistik dataframe
movies.describe(include='all')

,title,release_date,genre,studio,budget,box_office,runtime_minutes,rating
count,5,5,5,5,4.000000e+00,4.000000e+00,5.000000,5.000000
unique,5,5,4,4,NaN,NaN,NaN,NaN
top,The Matrix,1999-03-31,Sci-Fi,Warner Bros.,NaN,NaN,NaN,NaN
freq,1,1,2,2,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,7.325000e+07,6.335750e+08,128.600000,8.500000
std,NaN,NaN,NaN,NaN,5.987974e+07,3.260278e+08,23.447814,0.308221
min,NaN,NaN,NaN,NaN,2.500000e+07,2.630000e+08,88.000000,8.000000
25%,NaN,NaN,NaN,NaN,4.000000e+07,4.152500e+08,132.000000,8.500000
50%,NaN,NaN,NaN,NaN,5.400000e+07,6.514000e+08,136.000000,8.500000
75%,NaN,NaN,NaN,NaN,8.725000e+07,8.697250e+08,139.000000,8.700000
max,NaN,NaN,NaN,NaN,1.600000e+08,9.685000e+08,148.000000,8.800000