In [1]:
import numpy as np
import pandas as pd

In [2]:
data_pokemon = {
    'Name': ['Pikachu', 'Charizard', 'Mewtwo', 'Bulbasaur', 'Squirtle',
             'Gyarados', 'Dragonite', 'Onix', 'Lugia', 'Gengar'],
    'Type': ['Electric', 'Fire', 'Psychic', 'Grass', 'Water',
             'Water', 'Dragon', 'Rock', 'Psychic', 'Ghost'],
    'HP': [35, 78, 106, 45, 44,
           95, 91, 35, 106, 60],
    'Attack': [55, 84, 110, 49, 48,
               125, 134, 45, 90, 65],
    'Defense': [40, 78, 90, 49, 65,
                79, 95, 160, 130, 60],
    'Legendary': [False, False, True, False, False,
                  False, False, False, True, False]
}

pokedex = pd.DataFrame(data_pokemon)
pokedex.head()

        Name      Type   HP  Attack  Defense  Legendary
0    Pikachu  Electric   35      55       40      False
1  Charizard      Fire   78      84       78      False
2     Mewtwo   Psychic  106     110       90       True
3  Bulbasaur     Grass   45      49       49      False
4   Squirtle     Water   44      48       65      False

In [6]:
# Buat kolom baru 'Total_Stats' yang merupakan jumlah dari HP, Attack, dan Defense
pokedex['Total'] = pokedex['HP'] + pokedex['Attack'] + pokedex['Defense']
pokedex.head()

        Name      Type   HP  Attack  Defense  Legendary  Total
0    Pikachu  Electric   35      55       40      False    130
1  Charizard      Fire   78      84       78      False    240
2     Mewtwo   Psychic  106     110       90       True    306
3  Bulbasaur     Grass   45      49       49      False    143
4   Squirtle     Water   44      48       65      False    157

In [7]:
# Cari pokemon terkuat berdasarkan Total_Stats
strongest_pokemon = pokedex.sort_values(by='Total', ascending=False)
strongest_pokemon

        Name      Type   HP  Attack  Defense  Legendary  Total
8      Lugia   Psychic  106      90      130       True    326
6  Dragonite    Dragon   91     134       95      False    320
2     Mewtwo   Psychic  106     110       90       True    306
5   Gyarados     Water   95     125       79      False    299
7       Onix      Rock   35      45      160      False    240
1  Charizard      Fire   78      84       78      False    240
9     Gengar     Ghost   60      65       60      False    185
4   Squirtle     Water   44      48       65      False    157
3  Bulbasaur     Grass   45      49       49      False    143
0    Pikachu  Electric   35      55       40      False    130

In [8]:
# Filter pokemon dengan tipe 'Water' dan Attack di atas 100
water_strong_pokemon = pokedex[
    (pokedex['Type'] == 'Water') & (pokedex['Attack'] > 100)
]
water_strong_pokemon

       Name   Type  HP  Attack  Defense  Legendary  Total
5  Gyarados  Water  95     125       79      False    299

In [9]:
# Filter pokemon legendaris dengan Attack di atas 100
legendary_strong = pokedex[
    (pokedex['Legendary'] == True) & (pokedex['Attack'] > 100)
]
legendary_strong

     Name     Type   HP  Attack  Defense  Legendary  Total
2  Mewtwo  Psychic  106     110       90       True    306

In [10]:
# Filter pokemon legendaris
legendary_pokemon = pokedex[pokedex['Legendary'] == True]
legendary_pokemon

     Name     Type   HP  Attack  Defense  Legendary  Total
2  Mewtwo  Psychic  106     110       90       True    306
8   Lugia  Psychic  106      90      130       True    326