In [1]:
import pandas as pd
import numpy as np

In [2]:
data_spotify = {
    'Song': ['Blinding Lights', 'Shape of You', 'Someone Like You', 'Dance Monkey', 'Rockstar',
             'As It Was', 'Sunflower', 'One Dance', 'Stay', 'Believer'],
    'Artist': ['The Weeknd', 'Ed Sheeran', 'Adele', 'Tones and I', 'Post Malone',
               'Harry Styles', 'Post Malone', 'Drake', 'Kid LAROI', 'Imagine Dragons'],
    'Genre': ['Pop', 'Pop', 'Soul', 'Pop', 'Hip-Hop',
              'Pop', 'Hip-Hop', 'Hip-Hop', 'Pop', 'Rock'],
    'Duration_Min': [3.5, 4.0, 4.8, 3.5, 3.6,
                     2.8, 2.6, 3.0, 2.3, 3.4],
    'Streams_Millions': [3800, 3600, 3000, 2900, 2700,
                         2600, 2500, 2400, 2300, 2200]
}

spotify = pd.DataFrame(data_spotify)
spotify.head()

               Song       Artist    Genre  Duration_Min  Streams_Millions
0   Blinding Lights   The Weeknd      Pop           3.5              3800
1      Shape of You   Ed Sheeran      Pop           4.0              3600
2  Someone Like You        Adele     Soul           4.8              3000
3      Dance Monkey  Tones and I      Pop           3.5              2900
4          Rockstar  Post Malone  Hip-Hop           3.6              2700

In [3]:
# Menghitung total waktu putar semua lagu dalam menit
total_minutes = spotify['Duration_Min'] * spotify['Streams_Millions']
spotify['Total_Minutes'] = total_minutes
spotify.head()

,Song,Artist,Genre,Duration_Min,Streams_Millions,Total_Minutes
0,Blinding Lights,The Weeknd,Pop,3.5,3800,13300.0
1,Shape of You,Ed Sheeran,Pop,4.0,3600,14400.0
2,Someone Like You,Adele,Soul,4.8,3000,14400.0
3,Dance Monkey,Tones and I,Pop,3.5,2900,10150.0
4,Rockstar,Post Malone,Hip-Hop,3.6,2700,9720.0

In [4]:
# Urutkan lagu berdasarkan Total_Minutes dari yang tertinggi
spotify_sorted = spotify.sort_values(by='Total_Minutes', ascending=False)
spotify_sorted

,Song,Artist,Genre,Duration_Min,Streams_Millions,Total_Minutes
1,Shape of You,Ed Sheeran,Pop,4.0,3600,14400.0
2,Someone Like You,Adele,Soul,4.8,3000,14400.0
0,Blinding Lights,The Weeknd,Pop,3.5,3800,13300.0
3,Dance Monkey,Tones and I,Pop,3.5,2900,10150.0
4,Rockstar,Post Malone,Hip-Hop,3.6,2700,9720.0
9,Believer,Imagine Dragons,Rock,3.4,2200,7480.0
5,As It Was,Harry Styles,Pop,2.8,2600,7280.0
7,One Dance,Drake,Hip-Hop,3.0,2400,7200.0
6,Sunflower,Post Malone,Hip-Hop,2.6,2500,6500.0
8,Stay,Kid LAROI,Pop,2.3,2300,5290.0